# Audio
AUDIO_MODEL_NAME=openai/whisper-base
DEFAULT_LANGUAGE=french

# Vision
VISION_MODEL_NAME=openai/clip-vit-base-patch32

# RAG - Embedding model
RAG_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2

# LLM - OpenRouter
# Ajouter votre clé API personnelle ici
OPENROUTER_API_KEY=

# Modèle LLM utilisé pour générer le diagnostic
OPENROUTER_MODEL=google/gemma-4-31b-it:free